main {
  .description_container {
    margin-top: 1.5rem;
    .description_table {
      width: 100%;
      .head {
        tr {
          margin-left: 10px;
          text-align: justify;
          color: #b0b5b9;
        }
      }
    }
  }
}
